#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  width: 800px;
}

#textarea {
  width: 800px;
  border: 1px solid;
  height: 200px;
}

i {
  pointer-events: none;
}

.activeButton {
  border: 1px solid;
}

button.activeButton {
  background-color: #80808059;
}

.font {
  font-size: 60px;
}
